.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 50px;
}

.card {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    margin: 40px 20px 20px 20px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 360px;
    width: 340px;
    position: relative;
}

.card:hover {
    transform: scale(1.05); 
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-header {
    background-color: #607D8B;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #bcaaad;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
}

.card-header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h5 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin-bottom: 0;
}
