<app-menubar></app-menubar>
<div class="container mt-4">
    <div class="row mb-">
        <!-- addRoomtype button -->
        <div class="col-md-6">
            <button type="button" class="addbutton"routerLink="/addroomtype">Add RoomType</button>
        </div>
    </div>
    <br>
   <!-- Display alert if room is empty -->
   <div *ngIf="rooms.length === 0" class="alert alert-dark" role="alert">
    <b>No RoomTypes are currently available.  Click "Add RoomType" to create new roomtypes</b>
 </div>

 <!-- Display table if room is not empty -->
 <table *ngIf="rooms.length > 0" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Roomtype ID</th>
                <th scope="col">RoomType</th>
                <th scope="col">Hotel Name</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms">
                <th scope="row">{{room.roomId}}</th>
                <td>{{room.roomType}}</td>
                <td>{{room.hotel.hotelName}}</td>
                <td>{{room.hotel.location}}</td>
            </tr>
        </tbody>
    </table>
</div>
